/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Nunito', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Exo 2', sans-serif;
}	
p{
	margin:0;
	font-family: 'Nunito', sans-serif;
	letter-spacing:1px;
	color:#999;
	line-height:1.8em;
	font-size:1em;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- nav --*/
.main_section_agile {
    background: #002147;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#ffb71c;
    background:none;
}
.navbar-default .navbar-nav > .active > a:before{
	background: #ffb71c;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0 1.5em;
    padding: 0 0 0.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#ffb71c;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #ffb71c;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
	padding: 1.7em 0 0.2em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #262c38;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
a.navbar-brand {
    color: #fff!important;
    padding: 0;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}
a.navbar-brand i{
	color:#ffb71c;
}
.navbar-right {
    float: left !important;
}
div#bs-example-navbar-collapse-1 {
    margin-top: .3em;
    padding-left: 4em;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
	border-bottom: 1px solid #ececef;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#0ac876;
}
.effect-3 {
	overflow: hidden;
}
.effect-3:before {
	left: -1px;
	bottom: 0;
	width: 100%;
	height: 2px;
	background:#ffb71c;
	content: '';
    position: absolute;
    transition: transform .5s ease;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}
.effect-3:hover:before {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 90%;
}
ul.agile_forms {
    float: right;
    padding-top: .5em;
}
ul.agile_forms li a {
    background:#ffb71c;
    color: #fff;
    font-size: 0.9em;
    padding: 8px 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
}
ul.agile_forms li a:hover{
	background: #fff;
	color:#000;
}
ul.agile_forms li{
	display:inline-block;
	list-style:none;	
}
/*-- bootstrap-pop-up --*/
.close {
    opacity: 1;
}
.modal-header {
	    border-bottom: none!important;
}
.modal-body p {
    color: #383535;
    text-align: left;
        padding: 2em 1em 1em;
    margin: 0 !important;
    line-height: 2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
    color: #0ac876;
}
.modal-content {
    border-radius: 0;
}
.modal-body h5 {
    font-weight: 700;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.4em;
    color: #262c38;
}
/*-- //bootstrap-pop-up --*/
/*-- about-bottom --*/
.w3l_about_bottom_left{
	padding:0;
	position:relative;
}
.w3l_about_bottom_left img{
	width:100%;
}
.play-icon{
    position: absolute;
    top: 51%;
    left: 46%;
}
.play-icon i {
    font-size:4em;
    color: #fff;
}
.play-icon:focus{
	outline:none;
}
.w3l_about_bottom_left_video{
	position: absolute;
    top: 37%;
    left: 36%;
}
.w3l_about_bottom_left_video h4,.w3l_about_bottom_left_video.book-text h4 {
    text-transform: uppercase;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: 2px;
    padding: 0.4em 0em;
    width: 100%;
    text-align: center;
}
.w3l_about_bottom_left_video.book-text h4 {
	background: rgba(0, 0, 0, .5);
}
.w3l_about_bottom_right {
    padding: 6.5em 3.5em 10.6em;
    background: #f5f5f5;
}
.agileinfo_header1{
	font-size: 1.6em;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: .5em 0;
    position: relative;
}
.w3l_about_bottom_right p{
	margin:1em 0 3em;
	color:#555;
	line-height:2em;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px!important;
}
h3.tittle.why {
    text-align: left;
}
.w3layouts_header_right {
    float: right;
    position: relative;
    width: 18%;
    margin-left: .5em;
}
.header {
	padding: 0.6em 3em;
    background: #1d1d1d;
}
.w3layouts_header_right input[type="search"] {
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    background: #fff;
    color: #999;
    padding: 8px 15px 8px 15px;
    font-size: 1em;
    float: left;
    letter-spacing: 1px;
}
.w3layouts_header_right input[type="submit"] {
    outline: none;
    border: none;
    background: #ffb71c url(../images/search.png)no-repeat 12px 5px;
    color: #fff;
    padding: 8px 0;
    width: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
}
/*--model-about--*/
.agileits-main ul {
    float: left;
    width: 50%;
}
li.text {
    color: #000;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: capitalize;
    list-style: none;
}
li.agileits-main {
    list-style: none;
	position: relative;
}
li.agileits-main i {
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    top: 31%;
    left: 4%;
}
.agile-submit {
    text-align: center;
}
.agile-submit input[type="submit"] {
    padding: .8em 4em;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin:3em 0 0;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    background: #ffb71c;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-submit input[type="submit"]:hover {
    background: #000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.clo1 {
    margin-top:0px !important;
}
.header-w3l h2 {
    font-size: 2.8em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.header-w3l h4 {
    font-size: 1.6em;
    color: #ffb71c;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding:1em 0 2.5em;
}
/*--//model-about--*/
.video-grid-single-page-agileits img {
    width: 100%;
}
#video,#video1,#video2,#video3,#video4,#video5,#video5,#video7,#video8  {
  position: relative;
  background: #000;
     width: 100%;
    margin:0px auto;
}

#video img,
#video iframe,#video1 img,
#video1 iframe
 { display: block;width:100%; }

#play {
    position: absolute;
       top:47%;
    left: 44%;
    width:64px;
    height:64px;
    cursor: pointer;
    background: url('../images/play-button.png') no-repeat 0px 0px;
    background-size: auto, cover;
    z-index: 9;
}
#play6 {
	 position: absolute;
       top: 30%;
    left: 44%;
    width:64px;
    height:64px;
    cursor: pointer;
    background: url('../images/play-button.png') no-repeat 0px 0px;
    background-size: auto, cover;
    z-index: 9;
}
.video_agile_player {
    padding: 0;
}
/*-- registration --*/
.signin-form {
	padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"], .signin-form input[type="text"], .signin-form input[type="password"], .signin-form textarea {
    width: 100%;
    padding: 1em;
    font-size: 0.8em;
    margin: 2em 0px;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: left;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form textarea {
	min-height:100px;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
    background: #ffb71c;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	box-shadow:none!important;
}
/*-- //registration --*/
/*--logins--*/
.login-main input[type="text"],.newsletter input[type="email"],.login-main input[type="email"] {
    font-size: 1em;
    color: #000;
    padding: 0.7em 0em;
    margin-bottom: 1em;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Nunito', sans-serif;
	background: Transparent;
	width: 100%;
}
.login-main input[type="text"]{
	 width: 100%;
}
.newsletter input[type="email"]{
	width:77%;
}
.agileits-main input[type="text"], .agileits-main input[type="email"] {
    font-size: 1em;
    color: #fff;
    padding: .9em 1em .9em 2.5em;
    margin: 1em 0 2em;
    outline: none;
    border: none;
    background: #002147;
    width: 100%;
}
.login-main input[type="password"] {
    font-size: 1em;
    color: #000;
    padding: 0.7em 0em;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Nunito', sans-serif;
	background: Transparent;
}
.login-main input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #6a67ce;
    border: none;
    width: 82%;
    display: block;
    padding: 0.7em 1em;
    text-align: center;
    margin: 1.5em auto;
	border-radius: 20px;
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
    outline: none;
    cursor: pointer;
	text-transform: uppercase;
    letter-spacing: 1px;
}
.login-main input[type="submit"]:hover{
    background:rgba(0, 0, 0, 0.82);
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.login-main.wthree {
    width: 80%;
    margin: 3em auto;
}
/*--//logins--*/
/*-- //about-bottom --*/
/*-- about --*/
.about-top {
    padding: 5em 0 10em;
}
h3.w3l-title {
    font-size: 3.5em;
    color: #002147;
    text-align: center;
    letter-spacing: 1px;
	position:relative;
}
.w3layouts_header p {
    font-size: 2em !important;
    color: #ffb71c;
    position: relative;
    margin: .5em 0 1em !important;
    text-align: center;
}
.w3layouts_header p:before, .w3layouts_header p:after {
    content: '';
    background: #676666;
    height: 2px;
    width: 5%;
    position: absolute;
    top: 46%;
}
.w3layouts_header p:before {
    left: 41%;
}
.w3layouts_header p:after {
    right: 41%;
}
.wthree-services-right {
    position: absolute;
    top: 21%;
    right: 51%;
}
.wthree-services-bottom-grids {
    position: relative;
}
.wthree-services-right {
    position: absolute;
    top: 15%;
    right: 9%;
}
.wthree-about-grids {
    padding: 7em 5em 0;
}
.wthree-about-grids h4 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 1em;
    color: #ffb71c;
}
a.trend-w3l {
    font-size: .9em;
    color: #fff;
    padding: 1.1em 2em;
    letter-spacing: 1px;
    background: #002147;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
a.trend-w3l:hover {
    background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.modal-body img {
    width: 100%;
}
.modal-body p {
    margin: 2em 0;
}
.modal-header {
    border-bottom: none !important;
}
/*-- //Scocial-Icons --*/
/*-- //about --*/
/*-- Stats Section --*/
.stats {
	background: url(../images/bg1.jpg) no-repeat 0px 0px;
    padding: 100px 0;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    background-attachment: fixed;
}
.stats-info {
	text-align: center;
}
.stats h4 {
    color: #fff;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    background: #ffb71c;
    padding: .5em;
    border-right: 5px solid #fff;
    border-radius: 13px 0;
}
.stats-grid {
	font-size: 60px;
	font-weight: 400;
	color: white;
	margin-bottom: 10px;
}
h4.stats-info {
	margin-top: 20px;
}
/*-- //Stats Section --*/
/*-- services --*/  
.services, .team-w3l, .contact{
	padding:5em 0;
}
.services-w3ls-row {
    text-align: center;
}
.services span.w3-sub {
    color: #fff;
}
.services-grid h5 {
    font-size: 2.2em;
    color: #111;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;


}
.services-grid.agileits-w3layouts h6 {
    font-size: 4em;
    float: right;
    color: #e2e2e2;
    font-weight: bold;
}
.services-grid.agileits-w3layouts {
    position: relative;
}
.services-grid h5:nth-child(2) {
    top: 5%;
    left: 13%;
}
.services-grid.agileits-w3layouts span {
    font-size: 4em;
    color: #ffb71c;
	margin-bottom: .8em;
}
span.grid-w3l-ser {
    margin: .8em 0 0 !important;
}
.services-grid.agileits-w3layouts p {
    margin-top: 2em;
}
/*-- //services --*/ 
/*-- team --*/ 
.team-w3l-grid.grid-2-team {
    margin-top: 4em;
}
.team-w3l {
	background:-webkit-linear-gradient(#002147,rgba(0, 33, 71, 0.69));
	background:-moz-linear-gradient(#002147,rgba(0, 33, 71, 0.69));
	background:-ms-linear-gradient(#002147,rgba(0, 33, 71, 0.69));
    background: linear-gradient(#002147,rgba(0, 33, 71, 0.69));
}
.team-w3l h3.w3l-title {
    color: #fff;
}
.about_img {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.about-poleft img {
    width: 100%;
    height: auto;
}
.about_img h5 {
    position: absolute;
    line-height: 2.4;
    bottom: 0%;
	height: 70px;
    left: 0;
    opacity: 1;
    width: 100%;
    color: #000;
    background: #fff;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    text-align: center;
    font-size: 2em;
}
.about_img img + h5 {
    margin-top: 0;
	margin-bottom:0;
}
.about_opa {
    color: #fff;
    padding: 50px 50px 0;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
}
.about_img:hover .about_opa {
    opacity: 1;
    top: 70px;
}
.about_img:hover h5 {
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #ffb71c;
    color: #fff;
}
.about_opa p {
    line-height: 2.2em;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 30px;
    color: #e4e0e0;
}
/*-- team-contact --*/
.fb_icons2  li{
	list-style-type:none;
	display:inline-block;
	margin:0 2px;
	overflow:hidden;
}
.fb_icons2 li a{
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #ffb71c;
	line-height: 2;
    color: #fff;
}
.fb_icons2 li a:hover{
	transform:rotateZ(360deg);
	border-radius:100%;
}
/*-- //team --*/ 
/*-- Gallery Section --*/
#portfolio p {
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size:1.1em;
  color: #ffffff;
  font-weight: 300;
}
.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 0;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: rgba(15, 36, 83, 0.62);
}
.gallery1:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gallery-grid img{
		width:100%;
}

.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
text-align:center;
}
.textbox h4 {
    font-size: 2em;
    color: #FFF;
    margin-top: 3.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}
.textbox p {
     font-size: 26px !important;
    color: #fff;
    margin: 6px 0 0 0!important;
    padding: 3px 0;
}
.gallery-grids {
  margin-top: 50px;
}
/*-- //Gallery Section --*/
/*-- contact --*/
.w3l-form{
	padding:5em 0 0;
}
.agile_banner_bottom_grids {
    text-align: center;
}
.agile_contact_grid_left i {
    font-size: 3em;
    color:#002147;
    line-height: 2em;
}
.agile_contact_grid_right h4 {
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
	margin-bottom:.5em;
    letter-spacing: 1px;
}
.agile_contact_grid_right p span{
	display:block;
}
.agile_contact_grid_right p a{
	color:#999;
	text-decoration:none;
}
.agile_contact_grid_right p a:hover{
	color:#212121;
}

.w3_agile_contact_grid {
    background: #eee;
    width: 32%;
	padding: 1em 0 2em;
	box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}
.w3_agile_contact_grid:nth-child(2) {
    margin: 0 1em;
}
.contact-grid1 input[type="text"], .contact-grid1 input[type="email"],.contact-grid1 textarea{
	width: 100%;
    padding: .8em;
    font-size: 1em;
    border: none;
	outline: none;
	margin-bottom: 1.5em;
}
.contact-grid1 textarea {
    height: 140px;
    resize: none;
    width: 98.5%;
}
.contact-top1 label {
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    text-align: left;
    display: inherit;
	margin-bottom: 0.5em;
}
.contact-top1 {
    background: #ffb71c;
    padding: 3em 3em 4em;
    margin-top: 3em;
}
.contact-grid1 input[type="submit"] {
    font-size: 1.1em;
    outline: none;
    border: none;
    text-transform: uppercase;
    background: #000;
    padding: 0.7em 0;
    letter-spacing: 1px;
    color: #fff;
    display: block;
    width: 18%;
    margin: 1.5em auto 0;
    transition: 0.5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-grid1 input[type="submit"]:hover{
	background:#09294e;
	 -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.form-group {
    margin: 0 0 0 1em;
}
#map {
    width: 100%;
    height: 524px;
}
/*-- footer --*/
.w3_agileits_twitter_post h4{
	color: #212121;
    position: relative;
    padding-left: 2em;
    font-size: 1.3em;
    text-transform: capitalize;
    letter-spacing: 2px;
	font-weight:600;
}
.w3_agileits_twitter_post h4 a{
	color:#fa3d03;
	text-decoration:none;
	text-transform: initial;
}
.w3_agileits_twitter_post h4 a:hover{
	color:#212121;
}
.w3_agileits_twitter_post h4:before{
	content:"\f099";
	color:#1da1f2;
	font-family:FontAwesome;
	position:absolute;
	top:0%;
	left:0%;
}
.wthree_footer_grid_left {
    padding: 4em 0;
}
.wthree_footer_grid_left1 h4 {
    font-size: 1.4em;
    font-weight: 600;
    color: #002147;
    text-transform: uppercase;
    position: relative;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}
.wthree_footer_grid_left1 h4:after{	
	content: '';
    background: #ffb71c;
    height: 2px;
    width: 20%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.wthree_footer_grid_left1 p{
	color:#999;
	line-height:2em;
}
.wthree_footer_grid_left1 ul li {
    list-style-type: none;
    color: #ffb71c;
    margin-bottom: 1em;
    letter-spacing: 1px;
}
.wthree_footer_grid_left1 ul li i{
	padding-right:1em;
}
.wthree_footer_grid_left1 ul li:last-child,.wthree_footer_grid_right1 ul li:last-child{
	margin:0;
}
.wthree_footer_grid_left1 ul li a,.wthree_footer_grid_right1 ul li a{
	color:#212121;
	text-decoration:none;
}
.wthree_footer_grid_left1 ul li a:hover{
	color:#ffb71c;
}
.wthree_footer_grid_right1 ul li{
	list-style-type:none;
	color:#212121;
	margin-bottom:1em;
	font-weight:600;
}
.wthree_footer_grid_right1 ul li i {
    padding-right: 1em;
    color: #ffb71c;
}
.wthree_footer_grid_right1 ul li a:hover{
	color:#ffb71c;
}
.wthree_footer_grid_right2_w3{
	float:left;
	width:33.33%;
}
.wthree_footer_grid_right_main1{
	text-align:center;
	padding:1em;
}
.agileits_footer_social li{
	display:inline-block !important;
}
.w3layouts_copy_right {
    padding: 1.5em 0;
    text-align: center;
	background:-webkit-linear-gradient(#ffd985,#e69f06);
	background:-moz-linear-gradient(#ffd985,#e69f06);
	background:-ms-linear-gradient(#ffd985,#e69f06);
    background: linear-gradient(to right bottom,#ffd985,#e69f06);
}
.w3layouts_copy_right p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1em;
}
.w3layouts_copy_right p a{
	color:#002147;
	text-decoration:none;
}
.w3layouts_copy_right p a:hover{
	color:#fff;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/up2.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/

@media(max-width: 1680px){
	.w3l_about_bottom_right {
		padding: 3.5em 3.5em 5.5em;
	}
}
@media(max-width: 1600px){
	.w3l_about_bottom_right {
		padding: 3.5em 3.5em 3em;
	}
}
@media(max-width: 1440px){
	.navbar-nav > li > a {
		margin: 0 1em;
	}
	.w3l_about_bottom_right {
		padding: 3em;
	}
	.header-w3l h4 {
		padding: .8em 0 2em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		margin: .5em 0 2em;
	}
	.agile-submit input[type="submit"] {
		margin: 1.2em 0 0;
	}
	#play {
		left: 46%;
	}
	div#bs-example-navbar-collapse-1 {
		padding-left: 3em;
	}
}
@media(max-width: 1366px){
	.navbar-default .navbar-nav > li > a {
		letter-spacing: 0px;
	}
	.header-w3l h2 {
		font-size: 2.6em;
	}
	.header-w3l h4 {
		font-size: 1.4em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		margin:.5em 0 1.5em;
	}
	#play {
		left: 48%;
	}
}
@media(max-width: 1280px){
	.agileits_w3layouts_banner_nav {
		width: 94%;
	}
	.w3l_about_bottom_right {
		padding: 2em;
	}
	.agile-submit input[type="submit"] {
		margin: 1em 0 0;
		padding: .7em 3em;
	}
	.about-top {
		padding: 4em 0 10em;
	}
	.w3layouts_header p {
		margin: .2em 0 1em !important;
	}
	.stats-grid {
		font-size: 46px;
	}
	.stats h4 {
		font-size: 25px;
	}
	.stats {
		padding: 80px 0;
	}
	.services, .team-w3l, .contact {
		padding: 4em 0;
	}
	#map {
		height: 480px;
	}
	div#bs-example-navbar-collapse-1 {
		padding-left: 1em;
	}
}
@media(max-width: 1080px){
	a.navbar-brand {
		font-size: 0.8em;
	}
	div#bs-example-navbar-collapse-1 {
		margin: 4em 0 2em;
	}
	.w3layouts_header_right {
		width: 25%;
	}
	.navbar-default .navbar-nav > li > a {
		letter-spacing: 1px;
	}
	div#bs-example-navbar-collapse-1 {
		margin: 1.5em 0 1.5em;
	}
	.header-w3l h2 {
		font-size: 2.4em;
	}
	.header-w3l h4 {
		padding: .5em 0 1.2em;
	}
	li.text {
		font-size: .95em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		padding: .8em 1em .8em 2em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		margin: .5em 0 1em;
	}
	.agile-submit input[type="submit"] {
		margin: .9em 0 0;
		padding: .7em 2.5em;
		font-size: .9em;
	}
	.w3l_about_bottom_right {
		padding: 1.5em 2em 1.5em;
	}
	.about-top {
		padding: 3em 0 8em;
	}
	.wthree-services-right {
		top: 13%;
		right: -3%;
	}
	.wthree-about-grids h4 {
		font-size: 3.5em;
	}
	a.trend-w3l {
		padding: 1em 1.5em;
	}
	.wthree-about-grids {
		padding: 8.5em 5em 0;
	}
	.stats h4 {
		letter-spacing: 1px;
	}
	.stats-grid {
		font-size: 40px;
	}
	.stats {
		padding: 70px 0;
	}
	h3.w3l-title {
		font-size: 3.2em;
		letter-spacing: 0px;
	}
	.services-grid h5 {
		font-size: 2em;
		top: 39%;
		left: 3%;
	}
	.services-grid.agileits-w3layouts span {
		margin-bottom: .5em;
	}
	span.grid-w3l-ser {
		margin: .5em 0 0 !important;
	}
	.textbox h4 {
		margin-top: 2em;
		letter-spacing: 2px;
	}
	.about_opa {
		padding: 45px 40px 0;
	}
	.services-grid h5:nth-child(2) {
		top: 6%;
	}
	.navbar-right {
		float: right !important;
	}
}
@media(max-width: 1050px){
	.header-w3l h2 {
		font-size: 2.3em;
		letter-spacing: 0px;
	}
	.header-w3l h4 {
		font-size: 1.3em;
	}
	.w3l_about_bottom_right {
		padding: 1.2em 2em 1.5em;
	}
}
@media(max-width: 1024px){
	.header-w3l h2 {
		font-size: 2.1em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		padding: .7em 1em .7em 2em;
	}
	.w3l_about_bottom_right {
		padding: 1em 2em 1.3em;
	}
}
@media(max-width: 991px){
	.w3layouts_header_right {
		width: 30%;
	}
	#play {
		left: 44%;
	}
	.w3l_about_bottom_right {
		padding: 3em;
	}
	.header-w3l h2 {
		font-size: 2.5em;
	}
	.header-w3l h4 {
		font-size: 1.5em;
		padding: .8em 0 2em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		padding: .9em 1em .9em 2.8em;   
		margin: 1em 0 2em;
	}
	.agile-submit input[type="submit"] {
		margin: 2em 0 0;
		padding: 1em 4em;
	}
	.w3layouts_header p:before, .w3layouts_header p:after {
		width: 9%;
	}
	.w3layouts_header p:before {
		left: 36%;
	}
	.w3layouts_header p:after {
		right: 37%;
	}
	.wthree-services-right {
		top: 12%;
		right: 16%;
	}
	.wthree-about-grids {
		padding: 7.5em 5em 0;
	}
	.about-top {
		padding: 3em 0 4em;
	}
	.stats h4 {
		letter-spacing: 0px;
		font-size: 21px;
	}
	.services-grid.agileits-w3layouts h6 {
		font-size: 3em;
	}
	.services-grid h5 {
		font-size: 1.54em;
		top: 37%;
	}
	.about_img h5 {
		line-height: 2;
		font-size: 1.3em;
		height: 42px;
	}
	.about_img:hover .about_opa {
		top: 42px;
	}
	.about_opa {
		padding: 25px 2px 0;
	}
	.about_opa p {
		line-height: 2em;
		font-size: 1.2em;
		margin-bottom: 25px;
	}
	.contact-grid1 textarea {
		width: 97%;
	}
	.contact-top1 {
		padding: 3em 2em 3em;
	}
	.contact-grid1 input[type="submit"] {
		width: 21%;
	}
	.wthree_footer_grid_right1 ul li i {
		padding-right: .3em;
	}
	.wthree_footer_grid_left1 ul li {
		letter-spacing: 0px;
	}
}
@media(max-width: 900px){

}
@media(max-width: 800px){
	#map {
		height: 400px;
	}
	div#bs-example-navbar-collapse-1 {
		margin: .5em 0 1em;
	}
	.w3layouts_header_right input[type="submit"] {
		width: 22%;
	}
	.textbox h4 {
		letter-spacing: 1px;
		font-size: 1.5em;
	}
	h3.w3l-title {
		font-size: 3em;
	}
	.contact-grid1 textarea {
		width: 97.5%;
	}
}
@media(max-width: 768px){

}
@media(max-width: 767px){
	.navbar-brand {
		font-size: .8em;
	}
	.navbar-toggle {
		margin: 0.5em 0 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #fff;
		border-radius: 0;
		margin: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		width: 100%;
		z-index: 999;
		background:rgba(0, 0, 0, 0.83);
		padding:0em 0;
		margin-top: 2em;
	}
	.w3_agileits_search {
		width: 45%;
		float: none;
		margin: 0 auto;
	}
	.w3_agileits_search input[type="submit"] {
		width: 7%;
		background-position: 0px 5px;
	}
	.w3_agileits_search input[type="search"] {
		width: 91%;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background:#ffb71c;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #002147;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 1em;
	}
	.navbar-right {
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		margin: 0;
		text-align:center;
	}
	.navbar-nav > li > a {
		padding: 5px 25px;
		font-size: 13px;
		display: inline-block;
	}
	.menu--iris .menu__item {
		margin: 6px 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #0ac876;
		padding:10px 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 450px;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 9px;
	}
	.agileits-banner-info {
		padding: 10em 0 0em;
	}
	.banner-bottom h3 {
		font-size: 1.5em;
	}
	.w3-agile-post-img a ul {
		padding:7em 1em 0 2em;
	}
	.w3-agile-post-img a {
		min-height: 350px;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 17%;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 35em;
	}
	ul.nav.navbar-nav {
		margin: 0em 0 0em 0;
	}
	
	nav.navbar.navbar-default{
		background:none;
		padding:1em 0 0.2em 0;
	}
	ul.nav.navbar-nav {
		margin: 1em 0;
	}
	ul.agile_forms {
		margin-bottom: 1em;
	}
	.agileits_w3layouts_event_grid1 h5 a {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	div#bs-example-navbar-collapse-1 {
		margin: 0;
	}
	.navbar-nav > li > a {
		margin: .4em 0;
	}
}
@media(max-width: 736px){
	.w3layouts_header_right input[type="search"] {
		width: 78%;
	}
	.w3layouts_header_right {
		width: 34%;
	}
	.services-grid h5 {
		font-size: 1.4em;
	}
	.fb_icons2 li a {
		width: 30px;
		height: 30px;
	}
	.w3_agile_contact_grid {
		width: 31%;
	}
	.wthree_footer_grid_left1 {
		padding: 0 .5em;
	}
}
@media(max-width: 667px){
	.w3layouts_header_right {
		width: 38%;
	}
	#play {
		left: 48%;
	}
	.wthree-services-right {
		top: 13%;
		right: 9%;
	}
	.wthree-about-grids h4 {
		font-size: 3.2em;
		letter-spacing: 0px;
	}
	.stats h4 {
		font-size: 15px;
	}
	.stats-grid {
		font-size: 30px;
	}
	.stats {
		padding: 50px 0;
	}
	h3.w3l-title {
		font-size: 2.6em;
	}
	.services, .team-w3l, .contact {
		padding: 3em 0;
	}
	.services-grid.agileits-w3layouts {
		width: 100%;
	}
	.services-grid.agileits-w3layouts:nth-child(2) {
		margin: 3em 0;
	}
	.services-grid h5 {
		font-size: 1.7em;
		left: 28%;
		top: 50%;
	}
	.services-grid h5:nth-child(2) {
		top: 8%;
		left: 31%;
	}
	.textbox h4 {
		margin-top: 1.2em;
	}
	.fb_icons2 li a {
		width: 26px;
		height: 26px;
		font-size: .8em;
		line-height: 2.2;
	}
	.team-w3l-grid.grid-2-team {
		margin-top: 2.5em;
	}
	.contact-grid1 input[type="submit"] {
		width: 24%;
		margin: .8em auto 0;
	}
	.wthree_footer_grid_left1{
		width: 100%;
	}
	.wthree_footer_grid_left1.wthree_footer_grid_right1 {
		float: right;
		width: 50%;
	}
	.wthree_footer_grid_left1.w3l-3 {
		float: left;
		width: 50%;
	}
	.wthree_footer_grid_left1:nth-child(2) {
		margin: 2em 0;
	}
	.wthree_footer_grid_left1 h4 {
		font-size: 1.3em;
		margin-bottom: 1em;
	}
	.wthree_footer_grid_left1 ul li {
		margin-bottom: .8em;
	}
	.wthree_footer_grid_right1 ul li i {
		padding-right: 1em;
	}
	.w3layouts_copy_right p {
		font-size: 1em;
	}
	.wthree_footer_grid_left {
		padding: 3em 0;
	}
	.wthree_footer_grid_left1 h4:after {
		width: 10%;
	}	
	.w3l-form {
		padding: 4em 0 0;
	}
}
@media(max-width: 640px){
	.header-w3l h2 {
		font-size: 2.3em;
	}
	.header-w3l h4 {
		font-size: 1.4em;
	}
	.wthree-services-right {
		top: 12%;
		right: 5%;
	}
	.about_opa p {
		font-size: 1em;
		margin-bottom: 14px;
	}
	.fb_icons2 li a {
		width: 25px;
		height: 25px;
	}
	.contact-top1 {
		margin-top: 2em;
	}
	.w3l-form {
		padding: 3em 0 0;
	}
}
@media(max-width: 600px){
	.w3layouts_header_right {
		width: 43%;
	}
	.wthree-services-right {
		top: 12%;
		right: 1%;
	}
	.wthree-about-grids {
		padding: 6.5em 5em 0;
	}
	.about-top {
		padding: 3em 0 3em;
	}
	.wthree-about-grids h4 {
		margin: 0 0 .8em;
	}
	.w3layouts_header p {
		margin: .2em 0 .5em !important;
	}
	.agile_contact_grid_left i {
		font-size: 2.5em;
	}
	.contact-top1 {
		padding: 2.5em 1em 3em;
	}
	#map {
		height: 330px;
	}
	.fb_icons2 li a {
		width: 22px;
		height: 22px;
		font-size: .7em;
	}
}
@media(max-width: 568px){
	.w3l_about_bottom_right {
		padding: 3em 2em;
	}
	.gallery-grid.gallery1 {
		width: 50%;
	}
	.textbox h4 {
		margin-top: 3em;
	}
	.about-poleft {
		padding: 0 .5em;
	}
	.fb_icons2 li a {
		width: 23px;
		height: 23px;
		font-size: .7em;
	}
	.agile_contact_grid_right h4 {
		font-size: 1.3em;
		letter-spacing: 0px;
	}
	p {
		letter-spacing: 0px;
	}
}
@media(max-width: 480px){
	ul.agile_forms li a {
		letter-spacing: 0px;
	}
	.w3layouts_header_right input[type="search"] {
		font-size: .9em;
		letter-spacing: 0px;
	}
	ul.agile_forms li a {
		font-size: .85em;
	}
	.w3layouts_header_right {
		width: 47%;
	}
	.w3layouts_header_right input[type="submit"] {
		background-position: 8px 5px;
	}
	.w3l_about_bottom_left_video h4, .w3l_about_bottom_left_video.book-text h4 {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	#play {
		left: 43%;
		top: 49%;
	}
	.w3l_about_bottom_left_video {
		top: 35%;
		left: 30%;
	}
	.w3l_about_bottom_right {
		padding: 2em 1.5em;
	}
	.header-w3l h2 {
		font-size: 2em;
	}
	.header-w3l h4 {
		font-size: 1.3em;
	}
	.agile-submit input[type="submit"] {
		margin: 1em 0 0;
	}
	h3.w3l-title {
		font-size: 2.4em;
	}
	.w3layouts_header p:before {
		left: 34%;
	}
	.w3layouts_header p:after {
		right: 34%;
	}
	.w3layouts_header_right input[type="submit"] {
		background-position: 8px 4px;
		padding: 7px 0;
	}
	.w3l_about_bottom_left_video {
		top: 35%;
		left: 29%;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		padding: .8em 1em .8em 2em;
		margin: .5em 0 1.5em;
	}
	.agile-submit input[type="submit"] {
		padding: .8em 3em;
	}
	.wthree-services-left img {
		width: 100%;
	}
	.wthree-services-right img {
		width: 89%;
		top: 15%;
	}
	.wthree-about-grids h4 {
		font-size: 3em;
	}
	.wthree-about-grids {
		padding: 5em 5em 0;
	}
	.stats-grid.slideanim {
		float: left;
		width: 50%;
	}
	.stats-grid.slideanim:nth-child(3), .stats-grid.slideanim:nth-child(4){
		margin-top:1em;
	}
	.stats h4 {
		font-size: 17px;
		letter-spacing: 1px;
	}
	.stats-grid {
		font-size: 33px;
	}
	.services-grid h5 {
		left: 21%;
		top: 47%;
	}
	.services-grid h5:nth-child(2) {
		left: 25%;
	}
	.services-grid.agileits-w3layouts span {
		font-size: 3.5em;
	}
	.services-grid.agileits-w3layouts:nth-child(2) {
		margin: 2em 0;
	}
	.about-poleft {
		width: 100%;
		padding: 0 1em;
	}
	.about-poleft:nth-child(2) {
		margin:3em 0;
	}
	.about_img h5 {
		line-height: 2.4;
		height: 70px;
		font-size: 2em;
	}
	.about_opa p {
		line-height: 2.2em;
		font-size: 1.4em;
		margin-bottom: 30px;
	}
	.fb_icons2 li a {
		width: 32px;
		height: 32px;
		line-height: 2.4;
		font-size: .9em;
	}
	.about_opa {
		padding: 75px 50px 0;
	}
	.about_img:hover .about_opa {
		top: 69px;
	}
	.w3_agile_contact_grid {
		width: 100%;
	}
	.w3_agile_contact_grid:nth-child(2) {
		margin: 2em 0;
	}
	.contact-grid1 input[type="submit"] {
		width: 27%;
	}
	.w3layouts_copy_right p {
		line-height: 2;
	}
	.w3layouts_copy_right {
		padding: 1em 0;
	}
}
@media(max-width: 440px){
	.textbox h4 {
		margin-top: 2em;
	}
}
@media(max-width: 414px){
	.w3layouts_header_right input[type="submit"] {
		background-position: 4px 4px;
	}
	.wthree-about-grids {
		padding: 4em 4em 0;
	}
	.services-grid h5 {
		left: 16%;
		top: 42%;
	}
	.services-grid h5:nth-child(2) {
		left: 22%;
		top: 7%;
	}
	.wthree_contact_left_grid {
		width: 100%;
		padding: 0;
	}
	.contact-grid1 input[type="text"], .contact-grid1 input[type="email"], .contact-grid1 textarea {
		margin-bottom: 1em;
	}
	.form-group {
		margin: 0;
	}
	.contact-grid1 input[type="submit"] {
		width: 32%;
		font-size: 1em;
	}
	.contact-top1 {
		padding: 2.5em 1em 2em;
	}
	.w3l-left-mk, .w3l-right-mk {
		width: 100%;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		padding: .8em 1em .8em 2.5em;
	}
}
@media(max-width: 384px){
	.w3layouts_header_right {
		width: 57%;
	}
	ul.agile_forms {
		margin: 3.5em 0 1em;
		text-align: center;
		float: none;
	}
	.w3layouts_header_right input[type="submit"] {
		background-position: 13px 5px;
	}
	.w3l_about_bottom_left_video {
		top: 32%;
		left: 25%;
	}
	.w3l-left-mk, .w3l-right-mk {
		width: 100%;
	}
	.w3layouts_header_right {
		width: 80%;
	}
	.wthree-about-grids {
		padding: 4em 3em 0;
	}
	.about_opa {
		padding: 60px 50px 0;
	}
	.wthree_footer_grid_left1.w3l-3 {
		float: none;
		width: 100%;
	}
	.wthree_footer_grid_left1.wthree_footer_grid_right1 {
		float: none;
		width: 100%;
	}
	.wthree_footer_grid_left1.wthree_footer_grid_right1{
		margin-top: 2em;
	}
}
@media(max-width: 375px){
	.header-w3l h4 {
		letter-spacing: 1px;
	}
	.services-grid h5 {
		left: 12%;
		top: 41%;
	}
	.services-grid h5:nth-child(2) {
		left: 17%;
	}
	.textbox h4 {
		margin-top: 1.5em;
	}
	.about_opa {
		padding: 50px 50px 0;
	}
}
@media(max-width: 320px){
	.w3layouts_header_right {
		width: 100%;
	}
	.w3l_about_bottom_left_video h4, .w3l_about_bottom_left_video.book-text h4 {
		font-size: 1.5em;
	}
	.w3l_about_bottom_left_video {
		top: 28%;
		left: 21%;
	}
	#play {
		left: 42%;
		top: 49%;
	}
	.header-w3l h4 {
		letter-spacing: 0px;
		font-size: 1.25em;
	}
	.header-w3l h2 {
		font-size: 1.8em;
	}
	.agileits-main input[type="text"], .agileits-main input[type="email"] {
		padding: .8em 1em .8em 2.2em;
	}
	h3.w3l-title {
		font-size: 2em;
	}
	.w3layouts_header p:before {
		left: 29%;
	}
	.w3layouts_header p:before, .w3layouts_header p:after {
		width: 12%;
	}
	.w3layouts_header p:after {
		right: 29%;
	}
	.wthree-about-grids h4 {
		font-size: 2.5em;
	}
	a.trend-w3l {
		font-size: .8em;
	}
	.wthree-about-grids {
		padding: 4em 2em 0;
	}
	.stats h4 {
		font-size: 15px;
		letter-spacing: 0px;
	}
	.stats-grid {
		font-size: 30px;
	}
	.services-grid h5 {
		left: 5%;
		top: 38%;
	}
	.services-grid h5:nth-child(2) {
		left: 11%;
	}
	.textbox h4 {
		font-size: 1.3em;
	}
	.textbox p {
		padding: 3px 0;
	}
	.about_img h5 {
		line-height: 1.8;
		height: 50px;
		font-size: 1.7em;
	}
	.about_opa {
		padding: 30px 20px 0;
	}
	.about_img:hover .about_opa {
		top: 50px;
	}
	.contact-grid1 textarea {
		height: 120px;
	}
	.contact-grid1 input[type="submit"] {
		width: 41%;
	}
	#map {
		height: 250px;
	}
	.w3layouts_copy_right p {
		letter-spacing: 1px;
	}
}
/*--//responsive--*/